.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: var(--primary-dark-color);
  font-size: 0.75rem;
  padding: 2rem;
}

.copyright {
  text-align: left;
  color: #686868;
}

.toggleButton {
  padding: 0.75rem;
  border: 1px solid rgb(0,0,0,0);
  border-radius: 8px;
  background-color: #262626;
  transition:
      border 0.3s ease,
      transform 0.3s ease;
}

.themeIcon {
  height: 24px;
}

@media (max-width: 480px) {
  .footerContainer {
    padding: 2rem 1rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .toggleButton:hover {
    border: 1px solid var(--primary-color);
  }
}

@media (hover: none) {
  .toggleButton:active {
    border: 1px solid var(--primary-color);
  }
}
