.searchResultItem {
  border: 1px solid rgba(14, 62, 124, 0.16);
  border-radius: 8px;
  margin: 0.5rem 0;
}

.searchResultItem:hover {
  border: 1px solid #FAAD00;
  box-shadow:
      0 0 0 1px rgba(14, 63, 126, 0.04),
      0 1px 1px -0.5px rgba(42, 51, 69, 0.04),
      0 3px 3px -1.5px rgba(42, 51, 69, 0.04),
      0 6px 6px -3px rgba(42, 51, 69, 0.04),
      0 12px 12px -6px rgba(14, 63, 126, 0.04);
  }

.searchResultWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.titleDetailsWrapper {
  padding-right: 1rem;
}

.posterImage {
  width: 5rem;
  height: auto;
  border-radius: 8px 0 0 8px;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
}

.year,
.mediaType {
  color: #5c5c5c;
  font-size: 0.875rem;
}