.titleDetailsContainer {
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}

.titleDetailsWrapper {
  margin-top: .25rem;
}

.titleDetailsWrapper>h3,
.titleDetailsWrapper>div,
.titleDetailsWrapper>p {
  padding-bottom: 5px;
}

.posterImage {
  width: 6.25rem;
  height: auto;
  margin-right: 1rem;
  border-radius: 4px;
}

.commonSenseWrapper {
  display: flex;
  align-items: center;
}

.commonSenseIcon {
  height: 1.5rem;
  width: auto;
  margin-right: 2px;
}

.certifiedRating {
  border: 1px solid #BCBDBE;
  border-radius: 3px;
  padding: 0 5px;
  margin-right: 7px;
}
