.homepageBody {
  background-color: #1a1a19;
}

.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.homePageSearchContainer {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 280px;
}

.logo {
  display: flex;
  max-width: 300px;
  height: auto;
}

.tagline {
  font-size: 1rem;
  letter-spacing: .05rem;
  text-align: center;
  margin-bottom: 1.75rem;
  color: #FAAD00;
}
