.homepageBody {
  background-color: #1a1a19;
}

.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}

.homePageSearchContainer {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5rem;
}

.logo {
  display: flex;
  max-width: 300px;
  height: auto;
}

.tagline {
  font-size: 1rem;
  letter-spacing: .05rem;
  text-align: center;
  margin-bottom: 1.75rem;
  color: #FAAD00;
}

.moviesContainer {
  margin: 2rem 0;
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  margin: 1rem;
}

.title {
  color: #FAAD00;
  margin: 1rem;
}

.posterImage {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, border-color 0.3s ease-in-out;
}

.posterImage.visible {
  opacity: 1;
}

.posterImage:hover {
  border-color: #FAAD00;
}

.posterSkeleton {
  width: 100%;
  height: 0;
  padding-bottom: 150%; /* Maintaining aspect ratio */
  background-color: #2a2a29;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.posterSkeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #2a2a29, #3a3a39, #2a2a29);
  animation: shimmer 1.5s infinite;
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@media (max-width: 480px) {
  .movieGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  .logoWrapper {
    margin-top: 2rem;
  }
}