.homepageBody {
  background-color: #1a1a19;
}

.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.homePageSearchContainer {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 280px;
}

.logo {
  display: flex;
  max-width: 300px;
  height: auto;
}

.tagline {
  font-size: 1rem;
  letter-spacing: .05rem;
  text-align: center;
  margin-bottom: 1.75rem;
  color: #FAAD00;
}


/* SAVE FOR LATER

.homepage-search-field:focus-visible {
  outline: none;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.homepage-search-field:hover,
.homepage-search-field:focus-visible {
  outline: none;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.homepage-search::placeholder {
  color: #999;
}

.homepage-search:focus {
  outline: none;
  border-color: #999;
}

.homepage-search-icon {
  fill: #999;
}

.homepage-clear-position {
  right: 2rem;
}

*/