.darkTheme {
  background-color: #282A2D;
  color: #f5f5f5;
}

.darkTheme a {
  color: #FAAD00;
}

.darkTheme .card {
  background-color: #2F3133;
  border-color: rgba(255, 255, 255, 0.08);
}

.darkTheme .card:hover {
  border-color: #FAAD00;
}